.header__square-pic {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  position: absolute;
  right:0;
  top:64px;
  height:568px;
  width:568px;
  background: #2F80ED;
  z-index:0;
  box-sizing: border-box;
}

