.header__square-pic {
  margin: 0;
  position: absolute;
  right:0;
  top:64px;
  height: 568px;
  width: 568px;
  background: #2F80ED;
  z-index:0;
  animation: rotate linear infinite 20s;
}
@keyframes rotate{
  from{
    transform: rotate(0deg);
    transition: transform 20s;
  }
  to{
    transform: rotate(360deg);
    transition: transform 20s;
  }
}
