@import url(./table/table.css);
@import url(./column-digits/column-digits.css);
.digits{
  margin: 0;
  position: relative;
  min-width: 1100px;
  max-width: 1600px;
  min-height: 751px;
  align-self: center;
  overflow: hidden;
}
