.feynman__link{
  z-index:2;
  margin:0;
  padding:0;
  position:absolute;
  max-width: 242px;
  min-height: 51px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height:142%;
  top:445px;
  right:48px;
  box-sizing: border-box;
}
