.khan__author{
  width: 1152px;
  margin: 0;
  min-height: 36px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height:140%;
  color: #000000;
}
