@import url(./__image/feynman__image.css);
@import url(./__title/feynman__title.css);
@import url(./__subtitle/feynman__subtitle.css);
@import url(./__link/feynman__link.css);
.feynman{
  margin:0;
  position: relative;
  min-width: 1100px;
  max-width: 1600px;
  min-height: 843px;
  background: #F2F2F2;
  align-self: center;
  overflow: hidden;
}
