.video{
  position: relative;
  width: 100%;
  height: 437px;
  margin:0 auto;

}

.video__iframes{
  z-index: 3;
  display: flex;
  position:relative;
  width: 1050px;
  height: 316px;
  margin: 0 auto;
  justify-content:space-between;
  margin-top: 50px;
}
