@import url(./section-title/section-title.css);
@import url(./section-subtitle/section-subtitle.css);
@import url(./column/column.css);
@import url(./cards/cards.css);

.techniques{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 1100px;
  max-width: 1600px;
  min-height: 1095px;
  align-self: center;
  margin: 0;
  overflow: hidden;
}



