.techniques{
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 1100px;
  max-width: 1600px;
  min-height: 1095px;
  align-self: center;
  overflow: hidden;
  box-sizing: border-box;
}



