.rotation{
  animation:rotate linear infinite 20s;

}
@keyframes rotate{
  from{
    transform: rotate(0deg);
    transition: transform 20s;
  }
  to{
    transform: rotate(360deg);
    transition: transform 20s;
  }
}
