.oakley{
  display: flex;
  position: relative;
  width: 100%;
  height: 528px;
  background: #F2F2F2;
  align-self: center;
  margin:0;
  border: 1px solid transparent;
}
.history{
  position: relative;
  width: 175px;
  min-height: 44px;
  margin-left:144px;
  margin-top: 160px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #2F80ED;
}
.section_oaklet_text{
  position: absolute;
  width: 921px;
  min-height: 238px;
  margin-left: 375px;
  margin-top: 160px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 142%;
  color: #000000;
}
