.history{
  margin: 0;
  position: relative;
  min-width: 175px;
  margin-left:144px;
  margin-top: 160px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #2F80ED;
  box-sizing: border-box;
}
