.resources__logo-zone {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  position: relative;
  display: flex;
  position: relative;
  width: 1100px;
  margin: 0 auto;
  margin-top: 80px;
  box-sizing: border-box;
  justify-content: space-between;
  margin-bottom: 217px;
}
