.header__subtitle{
  margin: 0;
  z-index: 2;
  position:absolute;
  max-width: 388px;
  min-height: 75px;
  left: 64px;
  bottom:30px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  color: #000000;
  margin-bottom: 30px;
}
