.footer__column-heading{
  margin:0;
  position: relative;
  justify-content: center;
  color: #FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 10px;
}
