.footer{
  margin:0 auto;
  position:relative;
  min-width: 1100px;
  max-width: 1600px;
  min-height:350px;
  background:#1f1f1f;
  align-self: center;
  overflow: hidden;
  box-sizing: border-box;
}

