
.footer{
  position: relative;
  width: 100%;
  min-height: 290px;
  background: #1D1D1D;
  align-self: center;
}
.footer_columns{
  display: flex;
  flex-direction:row;
  width:90%;
  height:250px;
  margin: auto;
  margin-top:60px;

}
.footer_columns__left{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
.footer_column__content_copyright{
  display: flex;
  flex-direction: column;
  height:100%;
  width:50%;
}
.footer_colum__right{
  display: flex;
  margin-left:50%;
  width:50%;
  height: 100%;
}
.logo_dark{
  background-image: url(/images/logo_place_footer.svg);
  margin-top:4px;
  margin-left:0px;
}
.footer_author{
  position:relative;
  width: 174px;
  height: 25px;
  left:0px;
  top:207px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}
.footer_content__info{
  display: flex;
  flex-direction: column;
  min-width: 130px;
  height: 100%;
  margin-left:671px;
}
.footer_column-heading{
  position:relative;
  width: 100%;
  min-height: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
  margin-bottom:10px;
}
.footer_column-links{
  display: flex;
  flex-direction: column;

}
.footer__link{
  top: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height:167%;
  color: #FFFFFF;
  position:relative;
  width: 130px;
  min-height: 30px;
}

.footer_column__social{
  min-width: 106px;
  height: 100%;
  display: flex;
  flex-direction:column;
  margin-left:181px;
}
.footer_column-link{
  display: flex;
  flex-direction: column;
}
.footer_social__link{
  display: flex;
  margin-top:10px;
  min-width:90px;
  min-height:18px;
}
.footer_social-icon{
  width: 16px;
  height: 16px;
}
.link_social{
  position:relative;
  left:8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: rgb(255, 255, 255);
}
