.two-columns__brief {
  display: block;
  margin: 0;
  position: relative;
  width: 175px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #2f80ed;
}
