.header__title{
  margin: 0;
  z-index: 3;
  position: relative;
  max-width: 730px;
  margin-left: 64px;
  min-height: 192px;
  margin-top:193px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 102px;
  line-height: 94%;
  color: #000000;
  object-fit: cover;
  justify-content:center;
  align-items: center;
}
